JWT_SECRET="CIzfCYDqRD7IZrJq63TT0UIHrmFKiMLpw5SMHNA+Md8XbWu0pXWpV2tk4rm6bcAA4MdsdftPU0mx6pZq"

# Vercel Postgres
POSTGRES_URL="postgres://default:Z9HitXF8jPVs@ep-cool-hill-a1nsx6qu-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:Z9HitXF8jPVs@ep-cool-hill-a1nsx6qu-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:Z9HitXF8jPVs@ep-cool-hill-a1nsx6qu-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:Z9HitXF8jPVs@ep-cool-hill-a1nsx6qu.ap-southeast-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-cool-hill-a1nsx6qu-pooler.ap-southeast-1.aws.neon.tech"
POSTGRES_PASSWORD="Z9HitXF8jPVs"
POSTGRES_DATABASE="verceldb"

# OAuth Google Cloud Console
# GOOGLE_CLIENT_ID=
# GOOGLE_SECRET_KEY=
# GOOGLE_REDIRECT_URI=

# Cloudflare R2
R2_BUCKET_NAME="sport-sphere"
R2_ACCESS_KEY="4efb2b10a6d4930c19647be42f82410c"
R2_SECRET_KEY="9494e7adcf7d6e02efa34ea5249605615f3319baa722ad4e5c216e012b9ac8c5"
R2_UPLOAD_ENDPOINT="https://4f297a1f616f724d9b4a33b927c97705.r2.cloudflarestorage.com/sport-sphere"
R2_PUBLIC_URL="https://pub-cdf6484754244f30b7639332dce2c1b5.r2.dev"